---
layout: default
title: CR Office
---

<div class="col-md-12" style="padding: 0px;">
  <img src="images/cr2.jpg" alt="" id="large" style="width: 100%; padding-top: 80px;">
  <img src="images/PRimg.jpg" alt="" id="small" style="width: 100%; padding-top: 80px;">
  <div class="carousel-caption">
    <p class="lead d-none d-md-block" style="font-weight: bold; color:white;"><h2 class="banner_font">1st MoU of 2020 with Govt. of Telangana on AI</h2></p>
</div>
</div>

  <h1 class="text-center" style="padding-bottom: 30px"><b>Corporate Relations Office</b><br></h1>

    <!-- Page Content -->
    <div class="container-fluid" style="flex:1;">
      <div class="full-width side-gap start">
        <div class="row">

          <div class="col-lg-3" id="large">
            <div class="sidebar">
              <div class="sidebar-section card shadow">
                <h5><span><b>QUICK LINKS</b></span></h5>
                <ul>
                  <li><a href="#crvision">Vision</a></li>
                  <li><a href="#cract">Key Result Areas</a></li>
                  <li><a href="#crguide">Guidelines</a></li>
                  <li><a href="#crteam">CR Office Team</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-9">
            <div class="container" id="crvision">
              <h2><b>Vision</h2>
              <hr style="border: 1.5px solid coral; width: 50%;" align="left">
              <p class="lead">
                <h5>
                <ul>
                  <li><span class="highlight_1">Greater visibility and relevance</span> of IITH with key industries and corporates.</li>
                  <li><span class="highlight_1">Expand and improve career opportunities</span> for students by facilitating inustry engagement in curricula, teaching/learning experiences and long-term internships.</li>
                  <li><span class="highlight_1">An alternate approach</span> for placement & internships:
                  <ul>
                    <li>Job fairs & New timelines,</li>
                    <li>Inclusion of diverse sector like finance & consulting for recruitment.</li>
                  </ul>
                  </li>
                  <li><span class="highlight_1">Career development guidance and services</span> for students and alumni by industry affiliates and experts.</li>
                  <li><span class="highlight_1">Flexible policy</span> for placement in case student opting for entrepreneurship.</li>
                  <li><span class="highlight_1">Support mutually beneficial public policy</span> initiatives through encouraging partnerships with industry and institute.</li>
                </ul>
                </h5>
              </p>
            </div>
          </div>
        </div>

        <div class="container" id="cract">

          <h2 id="cract"><b>Key Result Areas</b></h2>
          <hr style="border: 1.5px solid coral; width: 50%;" align="left">
          
          
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-9">
              <h4><b>Office of Career Services</b></h4>
              <h5>
                <ul>
                  <li>Placements & Internship - augment the placement Internship & PPOs through robust foundation of Corporate Relations</li>
                  <li>Career Counselling to prepare student to make right choice of career</li>
                  <li>Knowledge sharing sessions by Professionals from reputed organizations</li>
                </ul>
              </h5>
            </div>

            <div class="col-lg-3">
              <div class="text-center card shadow">
              <a class="highlight" href="https://ocs.iith.ac.in">
                <img src="./images/ocr_color.png" width="50%" style="border-radius: 30%;"><h4>www.ocs.iith.ac.in<br></h4></a>
              </div>
            </div>

          </div>
          
          <h4><b>Corporate Relations & Social Responsibility</b></h4>
          <h5>
          <ul>
            <li>Foster business engagements to conceptualization, develop & implement strategic initiatives.</li>
            <li>Regular meeting with Corporates to:
              <ul>
                <li>Explore CSR opportunities</li>
                <li>Research collaboration & funding</li>
                <li>Prospective recruitment for the students</li>
              </ul>
            </li>
          </ul>
          </h5>

          <h4><b>Other Initiatives</b></h4>
          <h5>
          <ul>
            <li>Activities on campus by companies  (i.e. hackathons, webinars etc.).</li>
            <li><span class="highlight_1">Japan Day</span> - Orientation of Japanese companies for placement  & internship at IITH along with Students with the help of JETRO & JICA</li>
            <li>Felicitation ceremony and Information sharing session between outgoing & incoming student coordinators to share the experience & challenges.</li>
            <li>Student counsel and time-to- time orientation to take care of student grievances</li>
          </ul>
          </h5>

      </div>


      <br>
      <div class="container">
        <h2 id="crguide"><b>Guidelines</b></h2>
        <hr style="border: 1.5px solid coral; width: 50%;" align="left">
        <p class="lead">
          Corporate relations office acts as a bridge between IIT Hyderabad & industry. It will help companies to identify & access the institute's vast resources which include cutting-edge research, state-of-the-art infrastructure, student recruitment & collaborations. Also, it will help the corporates in continuing education programs for professional development.
        </p>
        <h5><b>Following Offices can be contacted as the objective be</b></h5>
        <h5>
        <ol>
          <li>Placement/ Internship/ Job fair/ Career Opportunities ( Office of Career Services (OCS) | <a href="https://ocs.iith.ac.in/" style="text-decoration: none;" target="_blank" class="highlight">www.ocs.iith.ac.in</a> )
            <ul>
              <li>Placement: <span><a href="mailto: office.placement@iith.ac.in">office.placement@iith.ac.in</a></span></li>
              <li>Internship: <span><a href="mailto: internships@iith.ac.in">internships@iith.ac.in</a></span></li>
              <li>Career Services: <span><a href="mailto: career.cell@iith.ac.in">career.cell@iith.ac.in</a></span></li>
            </ul>
          </li>
          <li>Corporate Social Responsibility & Fund Raising
            <ul>
              <li>Corporate Relation Office (CRO): <span><a href="mailto: office.pcr@iith.ac.in" >office.pcr@iith.ac.in</a></span></li>
              <li>Public & Corporate Relations Office (PCRO): <span><a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></span></li>
            </ul>
          </li>
          <li>Any other Corporate/ Industry Query
            <ul>
              <li>Public & Corporate Relations Office (PCRO): <span><a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></span></li>
            </ul>
          </li>
        </ol>
        </h5>
      </div>
      
      <div class="container team-cards" id="crteam">
        <h1 style="text-align: center; color: coral; padding: 10px;"><br>CR Office Team</h1>
        <hr style="border: 1.5px solid coral; width: 20%;" align="center"><br>
        
        <div class="row  d-flex justify-content-center">
            <div class="col-md-4">
                <div class="contact-box center-version card shadow">
                    <div>
                        <img alt="image" class="img-circle shadow" src="images/abhinavkumar.JPG">
                        <h4 class="m-b-xs"><strong>Dr. Abhinav Kumar</strong></h4>
                        <address class="m-t-md">
                            <strong>Faculty in Charge</strong><br>
                            <strong>Office of Career Services</strong><br>
                        </address>
                        
                    </div>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="tel:+91 83310 36117" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> 8331036117</a>
                            <a href="mailto: fic.placement@iith.ac.in" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> E-mail </a>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="col-md-4">
              <div class="contact-box center-version card shadow">
                  <div>
                    <style>
                      @media (min-width: 576px) and (max-width: 991.98px) {
                        .malini {
                          padding-bottom: 50px;
                        }
                      }
                    </style>
                      <img alt="image" class="img-circle shadow" src="images/malini.jpeg">
                      <h4 class="m-b-xs"><strong>Mrs. K. Malini</strong></h4>
                      <address class="m-t-md malini">
                          <strong>Section Officer</strong><br>
                          <strong><br></strong>
                      </address>
                      
                  </div>
                  <div class="contact-box-footer">
                      <div class="m-t-xs btn-group">
                          <a href="tel:8331036118" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> 8331036118</a>
                          <a href="mailto: support@ocs.iith.ac.in" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> E-mail </a>
                      </div>
                  </div>
                  
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>