---
layout: default
title: Guidelines
---

<div class="col-md-12" style="padding: 30px 0px 0px;">
  <img src="images/guidelines.png" id="large" alt="" style="width: 100%;">
  <img src="images/guidelines2.png" id="small" alt="" style="width: 100%;">
</div>

  <div class="container">

    <div class="col-md-12">
        <h2><br>Public Relations Office</h2>
            <hr style="border: 1.5px solid coral; width: 50%;" align="left">
        <h4><b>General Instructions</b></h4>
        <h5>
          As a policy, students, faculty members and institute functionaries are required to take clearance from the Office of Dean PCR, before interacting with media. It is also advisable to keep PRO informed about any communication with the media and take approval from the Competent Authority before inviting any journalist to the campus.
          </h5>
        <h4><b>Guidelines for Media</b></h4>
        <h5>
          If you are looking for interviewing, photographing, audio or video recording of any faculty, staff, students or functionaries; events; activities or facilities on campus, kindly provide your name, organization, contact information, deadline and a detailed description of the story through an email to
            <b><a href="mailto: pro@iith.ac.in">pro@iith.ac.in</a></b>. If you desire to receive media invitations and press releases from IIT Hyderabad, please email your contact details to us, and we will add you to our mailing list.
          </h5>
        <h4><b>Media visit to Campus</b></h4>
        <h5>
            As a part of the Security Guidelines of the Institute, any media professional desirous of visiting IIT Hyderabad is requested to inform the Public Relations Officer (PRO) about their visit, at least a day before their arrival (earliest the better). This will enable us to notify the relevant people and will ensure a seamless visit to the campus.
          </h5>
    </div>

  </div>

</section>

<section>
  <div class="container">

    <div class="col-md-12">

      <h2>Corporate Relations Office</h2>
      <hr style="border: 1.5px solid coral; width: 50%;" align="left">
      <h5>
        Corporate relations office acts as a bridge between IIT Hyderabad & industry. It will help companies to identify & access the institute's vast resources which include cutting-edge research, state-of-the-art infrastructure, student recruitment & collaborations. Also, it will help the corporates in continuing education programs for professional development.<br><br>
      </h5>
      <h5><b>Following Offices can be contacted as the objective be:</b></h5>
      
      <h5>
      <ol>
        <li>Placement/ Internship/ Job fair/ Career Opportunities ( Office of Career Services (OCS) | <a href="https://ocs.iith.ac.in/" style="text-decoration: none;" target="_blank" class="highlight">www.ocs.iith.ac.in</a> )
          <ul>
            <li>Placement: <b><a href="mailto: office.placement@iith.ac.in">office.placement@iith.ac.in</a></b></li>
            <li>Internship: <b><a href="mailto: internships@iith.ac.in">internships@iith.ac.in</a></b></li>
            <li>Career Services: <b><a href="mailto: career.cell@iith.ac.in">career.cell@iith.ac.in</a></b></li>
          </ul>
        </li>
        <li>Corporate Social Responsibility & Fund Raising
          <ul>
            <li>Corporate Relation Office (CRO): <b><a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></b></li>
            <li>Public & Corporate Relations Office (PCRO): <b><a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></b></li>
          </ul>
        </li>
        <li>Any other Corporate/ Industry Query
          <ul>
            <li>Public & Corporate Relations Office (PCRO): <b><a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></b></li>
          </ul>
        </li>
      </ol>
      </h5>
    </div>

  </div>
</section>