---
layout: default
title: Home
---

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('./images/carousel/1.webp');">
          <div class="carousel-caption">
              <p class="lead"><h2 class="banner_font"><b>PCR Office -  A holistic approach to Public and Corporate Relations</b></h2></p>
          </div>
      </div>
      <div class="carousel-item" style="background-image: url('./images/carousel/2.webp')">
        <div class="carousel-caption">
          <p class="lead"><h2 class="banner_font"><b>PR Office - Perception & Branding</b></h2></p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('./images/carousel/3.webp">
        <div class="carousel-caption">
          <p class="lead"><h2 class="banner_font"><b>CR Office - Strategic Partnership</b></h2></p>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<section>
  <h1 class="text-center" style="padding-top: 0px;"><b>Public and Corporate Relations Office</b></h1>

  <div class="container-fluid" style="flex:1;">
      <div class="full-width side-gap start">
          <div class="row">
              <div class="col-lg-3" id="large">
                  <div class="sidebar">
                      <div class="sidebar-section card shadow">
                          <h5><span>QUICK LINKS</span></h5>
                          <ul>
                              <li><a href="#message">Message from Dean PCR</a></li>
                              <li><a href="#opportunity">Windows of Opportunity</a></li>
                              <li><a href="#mission&values">Mission, Vision & Value</a></li>
                              <li><a href="#newsletter">किरIITH | Highlights</a></li>
                              <li><a href="#Brochure_2022">Brochure 2022</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-9">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                  <div class="col-lg-6 mx-auto text-center" style="padding: 0px 0px 10px 0px;">
                    <h3>Message from Dean PCR</h3>
                  </div>
                  <div class="col-md-6">
                    <div class="image-wrapper float-left pr-3 col-xs-12" id="avatar">
                      <img src="images/deanpcr.jpg" class="shadow" alt="">
                    </div>
                  </div>
                  <p class="mb-0 mt-2 font-italic">"The office of Public and Corporate Relations (PCR) facilitates a holistic public and corporate relations network, 
                    leveraging the institutes research visibility and brand along with its faculty and student talent. It supports the institutes 
                    research and education mission by attracting, engaging, and cultivating a broad spectrum of strategic partnerships with corporates
                     which benefit the student's career development."
                     <h4 style="text-align:right"> - Prof. C Krishna Mohan</h4>  
                  </p>
                     
                </blockquote>
              </div>
  
            </div>
          </div>  
    
    <!-- Website Introduction video part start -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-8" style="padding-top: 40px;">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/R1igC2HRrpM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="col-lg-2"></div>

      </div>
    </div>
    <div class="container py-5" id="opportunity">
        <h2 class="text-center"><b>Windows of Opportunity</b><br>
          <hr style="border: 1.5px solid coral; width: 30%;" align="center">  
        </h2>
        <div class="col-md-12"><img src="images/homePage/window.webp" id="windows" alt=""> </div>
        <h2 id="mission&values" class="text-center"><b><br>Mission, Vision & Value</b><br>
          <hr style="border: 1.5px solid coral; width: 30%;" align="center"></h2>
          <div class="col-md-12"><img src="images/mission.jpg" id="mission" alt=""> </div>
    </div>
    
  <div class="container">
    <div class="row">
      <style>
        @media (min-width: 992px) {
          .press_release_card{
            height: 200px;
          }
          .press_release_card_1{
            height: 160px;
          }
          .image_card{
            height: 150px;
            width: 150px;
          }
         }
      </style> 

      <div class="col-lg-6 column">
        {% assign count3 = 1 %}
        <h2 class="text-center" id="newsletter"><b>किरIITH</b> - The Crowning Glory<br></h2>
        <h5 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h5>
        {% assign newsletter = site.categories['newsletter'] %}
                         {% for post in newsletter %}
                          {% if count3 == 4 %}
                            {% break %}
                          {% endif %}  

                         <div class="card shadow press_release_card" style="margin-top:10px; margin-bottom: 10px;">
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p>
                                    <h4><b>{{post.issue}}</b></h4>
                                    <h4>{{post.title}}</h4>
                                    <h6>
                                      <a target="_blank" href="{{post.flipbook}}">View as Flipbook</a><br>
                                      <a target="_blank" href="./files/reports/newsletter/{{post.link}}"<b>Download</b></a>&nbsp; 
                                    </h6>
                                  </p>

                                  {% assign count3 = count3 | plus: 1 %}
                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/newsletter/{{post.img}}" style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%; padding-left:10px;">
                              </div>

                            </div>
                           </div>
                
                         {% endfor %}

                         To view previous newsletters <a  class="highlight" href="/newsletter" >Click here</a>
      </div>

      <div class="col-lg-6 column" id="news">
        {% assign count2 = 1 %}
        <h2 class="text-center"><b>Highlights</b><br></h2>
        <h5><br></h5>
        {% assign news = site.categories['news'] %}
                         {% for post in news %}
                          {% if count2 == 4 %}
                            {% break %}
                          {% endif %}  

                         <div class="card shadow press_release_card" style="margin-top:10px; margin-bottom: 10px;">
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p>
                                    <h4><b>{{post.date | date: "%d %b %Y"}}</b></h4>
                                    <h5>{{post.title}}</h5>
                                    <h6>
                                      <b>More</b>&nbsp; 
                                      <a href="https://www.facebook.com/iithyderabad/"  target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
                                      <a href="https://twitter.com/IITHyderabad" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
                                      <a href="https://www.instagram.com/iithyderabad/" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;
                                      <a href="https://www.linkedin.com/school/indian-inst-of-technology-hyderabad/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </h6>
                                  </p>

                                  {% assign count2 = count2 | plus: 1 %}
                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/news/{{post.img}}" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                              </div>

                            </div>
                           </div>
                                    {% endfor %}

      </div>
<div class="container py-5" id="opportunity">
        <h2 class="text-center"><b>Brochure 2022 </b><br>
          <hr style="border: 1px solid coral; width: 20%;" align="center">  
        </h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-8" style="padding-top: 10px;">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/r59qEXbKQfc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p>
                                    <a target="_blank" href="https://online.fliphtml5.com/qumqk/wrcr/">View as Flipbook</a>
                                     
<br>
                                      <a target="_blank" href="./files/reports/brochure/IITH Brochure 2022.pdf">Download</a>&nbsp; 
                                    
                                  </p>


                                </div> 
        </div>
        
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>

                
</section>