---
layout: default
title: Press Release
---
<section>
    <h1 class="text-center"><br>Press Releases</h1>
    <div class="container-fluid">
        <div id="press_release" class="row" style="padding: 10px 20px;">
            <ul>
                <!-- TO INSERT NEW PRESS RELEASES -->
                <!--Copy the following code in brackets and remove the brackets while pasting. Insert the file-name instead of *** with extension .pdf
                
                    (<li><a href="press/***.pdf" target="_blank">Insert the title of the file</a></li>)
                -->
                {% assign pressrelease = site.categories['pressrelease'] %}
                         {% for post in pressrelease %}

                               <li><b>{{post.date | date: "%d %b %Y"}}: </b>{{post.title}} <a href="./files/pressrelease/{{post.link}}" target="_blank">Download</a> {{ post.content }}</a></li> 

                         {% endfor %}
            </ul>
        </div>    
    </div>
</section>