---
layout: default
title: PR Office
---

<div class="col-md-12" style="padding: 0px;">
  <img src="images/proffice.jpeg" id="large" alt="" style="width: 100%;">
  <img src="images/pr2.jpeg" id="small" alt="" style="width: 100%;">
  <div class="carousel-caption">
    <p class="lead d-none d-md-block" style="font-weight: bold; color: white;"><h2 class="banner_font"><br>Inauguration of किरIITH by Dr. B V R Mohan Reddy, IITH BoG Chairman, Founder and Executive Chairman of Cyient Ltd.</h2></p>
  </div>
</div>
<section>
<h1 class="text-center"><b>Public Relations Office</b></h1>

    <!-- Page Content -->
    
    <div class="container-fluid" style="flex:1;">
        <div class="full-width side-gap start">
            <div class="row">
                <div class="col-lg-3" id="large">
                    <div class="sidebar">
                        <div class="sidebar-section card shadow">
                            <h5><span><b>QUICK LINKS</b></span></h5>
                            <ul>
                                <li><a href="#prvision">Vision</a></li>
                                <li><a href="#pract">Key Result Areas</a></li>
                                <li><a href="#prguide">Guidelines</a></li>
                                <li><a href="#prteam">PR Office Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="container" id="prvision">
                        <h2><b>Vision</b></h2>
                        <hr style="border: 1.5px solid coral; width: 50%;" align="left">
                        <p class="lead">
                          <h5>
                          <ul>
                            <li><span class="highlight_1">Set-up standard guidelines</span> in-line with global requirement for better image building and promotion through timely and qualitative response time.</li>
                            <li><span class="highlight_1">Explore new and better</span> methods to spark right connections and tailor communication experiences to the passions at the institute.</li>
                            <li><span class="highlight_1">Embedded Web-page</span> with press releases and social media releases to help maintain data base of all key activities with easy accesses to all key stakeholders.</li>
                            <li><span class="highlight_1">Streamlining</span> Media Outreach Activities internally.</li>
                          </ul>
                          </h5> 
                        </p>
                    </div>
                </div>
            </div>

                <!--div class="container" id="pract">
                    
                      <div class="col-md-6" style="display: inline-block; vertical-align: top;">
                        <ul class="list-group">
                          <li class="list-group-item" style="font-weight: bold; background-color: #fff2ac;">Institute Publications & Communications</li>
                          <li class="list-group-item"><a href="https://iith.ac.in/reports/" target="_blank" style="text-decoration: none;">Annual Report</a></li>
                          <li class="list-group-item"><a href="https://iith.ac.in/about/newsletters-iith/" target="_blank" style="text-decoration: none;">Newsletter</a></li>
                          <li class="list-group-item">Brochure</li>
                          <li class="list-group-item">Internal Communications</li>
                          <li class="list-group-item">Promotional Video</li>
                          <li class="list-group-item">Events Promotion</li>
                          <li class="list-group-item">Institute Calendar</li>
                          <li class="list-group-item">Directory</li>
                          <li class="list-group-item">Mementos</li>
                        </ul>
                      </div>
                      <div class="col-md-6" style="float: right;" id="list">
                        <ul class="list-group">
                          <li class="list-group-item" style="font-weight: bold; background-color: #fff2ac;">Media Management & Public Relations</li>
                          <li class="list-group-item"><a href="pressrelease.html" target="_blank" style="text-decoration: none;">Press Release</a></li>
                          <li class="list-group-item">Press Meet</li>
                          <li class="list-group-item">CPGRAM</li>
                          <li class="list-group-item">Liaison with MHRD</li>
                          <li class="list-group-item">External Communication</li>
                          <li class="list-group-item">Website Content Management</li>
                          <li class="list-group-item">Social Media Management</li>
                          <li class="list-group-item"><a href="https://www.facebook.com/iithyderabad/" target="_blank" style="text-decoration: none;">Facebook</a></li>
                          <li class="list-group-item"><a href="https://twitter.com/IITHyderabad" target="_blank" style="text-decoration: none;">Twitter</a></li>
                          <li class="list-group-item"><a href="https://www.instagram.com/iithyderabad/" target="_blank" style="text-decoration: none;">Instagram</a></li>
                          <li class="list-group-item"><a href="https://www.linkedin.com/school/indian-inst-of-technology-hyderabad/" target="_blank" style="text-decoration: none;">LinkedIn</a></li>                          
                        </ul>
                      </div>
                </div-->

  <div class="container">
  
  <style>
    @media (min-width: 992px) {
      .press_release_card{
        height: 200px;
      }
      .press_release_card_1{
        height: 160px;
      }
      .image_card{
        height: 150px;
        width: 150px;
      }
     }
  </style>  

    <h2 id="pract" ><b>Key Result Areas</b></h2>
    <hr style="border: 1.5px solid coral; width: 50%;" align="left">

    <div class="row">
      
      <div class="col-lg-6 column" id="press">

        {% assign count = 1 %}

        <h2 class="text-center"><b>Press Releases<br></b></h2>

        {% assign pressrelease = site.categories['pressrelease'] %}
                         {% for post in pressrelease %}
                         {% if count == 4 %}
                            {% break %}
                          {% endif %}

                         <div class="card shadow press_release_card" style="margin-top:10px; margin-bottom: 10px;padding-bottom: 10px; padding-top: 10px; padding-left: 10px;padding-right: 10px;padding-left:10px;">
                          <div class="row">
                            <div class="col-lg-8">
                              <p> <b>{{post.date | date: "%d %b %Y"}}</b>
                                <h5>{{post.title}}</h5>
                                <a href="./files/pressrelease/{{post.link}}">More</a>
                              </p>
                            </div>
                            <div class="col-lg-4">
                              <img class="image_card" src="./images/pressrelease/{{post.image}}" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                            </div>
                          </div> 
                          {% assign count = count | plus: 1 %}
                        </div>
                
                         {% endfor %}
                         To view previous Press Releases <a  class="highlight" href="./pressrelease.html" >Click here</a>
      </div>

      <div class="col-lg-6 column" id="news">
        {% assign count2 = 1 %}
        <h2 class="text-center"><b>Highlights</b><br></h2>
        {% assign news = site.categories['news'] %}
                         {% for post in news %}
                          {% if count2 == 4 %}
                            {% break %}
                          {% endif %}  

                         <div class="card shadow press_release_card" style="margin-top:10px; margin-bottom: 10px;">
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p><b>{{post.date | date: "%d %b %Y"}}</b>
                                    <h5>{{post.title}}</h5>
                                    <h6>
                                      <b>More</b>&nbsp; 
                                      <a href="https://www.facebook.com/iithyderabad/"  target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;
                                      <a href="https://twitter.com/IITHyderabad" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
                                      <a href="https://www.instagram.com/iithyderabad/" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;
                                      <a href="https://www.linkedin.com/school/indian-inst-of-technology-hyderabad/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </h6>
                                  </p>

                                  {% assign count2 = count2 | plus: 1 %}
                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/news/{{post.img}}" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                              </div>

                            </div>
                           </div>
                
                         {% endfor %}

      </div>

      <div class="col-lg-6 column" id="newsletter">
        {% assign count3 = 1 %}
        <h2 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h2>
        <h5 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h5>
        {% assign newsletter = site.categories['newsletter'] %}
                         {% for post in newsletter %}
                          {% if count3 == 4 %}
                            {% break %}
                          {% endif %}  

                         <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p>
                                    <h5><b>{{post.issue}}</b></h5>
                                    <h5>{{post.title}}</h5>
                                    <h6>
                                      <a target="_blank" href="{{post.flipbook}}">View as Flipbook</a><br>
                                      <a target="_blank" href="./files/reports/newsletter/{{post.link}}">Download</a>&nbsp; 
                                    </h6>
                                  </p>

                                  {% assign count3 = count3 | plus: 1 %}
                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/newsletter/{{post.img}}" style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%; padding-left:10px;">
                              </div>

                            </div>
                           </div>
                
                         {% endfor %}

                         To view previous newsletters <a  class="highlight" href="/newsletter" >Click here</a>
      </div>

      <div class="col-lg-6 column" id="annual">
        {% assign count3 = 1 %}
        <h2 class="text-center"><b><br>Annual Reports</b><br></h2>
        <h5><br></h5>
        {% assign annual = site.categories['annual'] %}
                         {% for post in annual %}
                          {% if count3 == 4 %}
                            {% break %}
                          {% endif %}  

                         <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <p>
                                    <h5><b>{{post.title}}</b></h5>
                                    <h6>
                                      <a href="{{post.link}}" target="_blank">Download</a>&nbsp; 
                                    </h6>
                                  </p>

                                  {% assign count3 = count3 | plus: 1 %}
                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/annual_report/{{post.img}}" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                              </div>

                            </div>
                           </div>
                
                         {% endfor %}
                         
                         To view previous Annual Reports <a  class="highlight" href="./report.html" >Click here</a>
      </div>

      <div class="col-lg-6 column" id="ranking">
        <h2 class="text-center"><b><br>Ranking Reports</b><br></h2>

                         <div class="card shadow" style="margin-top:10px; margin-bottom: 10px;">
                            
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <h4><b>NIRF</b></h4>  

                                  <p>
                                    <h5>Overall</h5>

                                    <ul>
                                      {% assign nirf = site.categories['nirf'] %}
                                      {% for post in nirf %}

                                      <li>
                                        {{post.title}}
                                        <a href="{{post.link}}">Download</a>
                                      </li>
                                      {% break %}          
                                      {% endfor %}
                                    </ul>
                                  </p>

                                  <p>
                                    <h5>Engineering</h5>

                                    <ul>
                                      {% assign engineering = site.categories['engineering'] %}
                                      {% for post in engineering %}

                                      <li>
                                        {{post.title}}
                                        <a href="{{post.link}}">Download</a>
                                      </li>
                                      {% break %}          
                                      {% endfor %}
                                    </ul>
                                  </p>

                                  To view previous Ranking Reports <a  class="highlight" href="./report.html" >Click here</a>


                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/nirf.jpeg" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                              </div>

                            </div>
                           </div>
 
 
                           <div class="card shadow" style="margin-top:10px; margin-bottom: 10px;">
                            
                            <div class="row">

                              <div class="col-lg-8">
                                <div  style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                                  <h4><b>ARIIA</b></h4>  

                                  <p>
                                    <ul>
                                      {% assign ariia = site.categories['ariia'] %}
                                      {% for post in ariia %}

                                      <li>
                                        {{post.title}}
                                        <a href="{{post.link}}">Download</a>
                                      </li>
                                      {% break %}          
                                      {% endfor %}
                                    </ul>
                                  </p>

                                  To view previous Ranking Reports <a  class="highlight" href="./report.html" >Click here</a>

                                </div>            
                              </div>

                              <div class="col-lg-4">
                                <img class="image_card" src="./images/ariia.jpeg" style="width:100%;padding-bottom: 10px; padding-top: 10px;padding-right:10px; border-radius:10%;padding-left:10px;">
                              </div>

                            </div>
                           </div>
      </div>

      <div class="col-lg-6 column" id="annual">
        <h2 class="text-center"><b><br>Other Initiatives</b><br></h2>

                         <div style="margin-top:10px; margin-bottom: 10px;">
                            
                            <div class="row">

                              <div class="col-lg-6">
                                <ul class="list-group card shadow">
                                  <li class="list-group-item" style="font-weight: bold; background-color: #b3b3b3;">Internal Communications</li>
                                  <li class="list-group-item">Brochure</li>
                                  <li class="list-group-item">Reports</li>
                                  <li class="list-group-item">Promotional Video</li>
                                  <li class="list-group-item">Events Promotion</li>
                                  <li class="list-group-item">Institute Calendar</li>
                                  <li class="list-group-item">Website management</li>
                                </ul>       
                              </div>

                              <div class="col-lg-6">
                                <ul class="list-group card shadow">
                                  <li class="list-group-item" style="font-weight: bold; background-color: #b3b3b3;">External Communication</li>
                                  <li class="list-group-item">Brand building</li>
                                  <li class="list-group-item">Media Management</li>
                                  <li class="list-group-item">Data Analytics</li>
                                  <li class="list-group-item">Ranking</li>
                                  <li class="list-group-item">Relationship Management</li>
                                  <li class="list-group-item">Social Media Management</li>
                                </ul>
                              </div>

                            </div>
                           </div>
      </div>

    </div>
  </div>

  <div class="container" id="prguide">
                  <h2><b><br>Guidelines</b></h2>
                  <hr style="border: 1.5px solid coral; width: 50%;" align="left">
                  <h4><b>General Instructions</b></h4>
                <h5>
                  As a policy, students, faculty members and institute functionaries are required to take clearance from the Office of Dean PCR, before interacting with media. It is also advisable to keep PRO informed about any communication with the media and take approval from the Competent Authority before inviting any journalist to the campus.
                </h5>
                <h4><b>Guidelines for Media</b></h4>
                <h5>
                  If you are looking for interviewing, photographing, audio or video recording of any faculty, staff, students or functionaries; events; activities or facilities on campus, kindly provide your name, organization, contact information, deadline and a detailed description of the story through an email to
                   <span class="highlight"><a href="mailto: pro@iith.ac.in" style="color: black;">pro@iith.ac.in</a></span>. If you desire to receive media invitations and press releases from IIT Hyderabad, please email your contact details to us, and we will add you to our mailing list.
                </h5>
                <h4><b>Media visit to Campus</b></h4>
                <h5>
                  As a part of the Security Guidelines of the Institute, any media professional desirous of visiting IIT Hyderabad is requested to inform the Public Relations Officer (PRO) about their visit, at least a day before their arrival (earliest the better). This will enable us to notify the relevant people and will ensure a seamless visit to the campus.
                </h5>
                </div>
</section>          
              <div class="container team-cards" id="prteam">
                  <h1 style="text-align: center; color: coral; padding: 10px;">PR Office Team</h1>
                  <hr style="border: 1.5px solid coral; width: 20%;" align="center"><br>
                  <div class="row d-flex justify-content-center">
                      <div class="col-md-3.5">
                          <div class="contact-box center-version card shadow" style="padding: 20px;">
                              <div>
                                  <img alt="image" class="img-circle shadow" src="images/IMG_8431 - Copy.png">
                                  <h4 class="m-b-xs"><strong>Mrs. Mitalee Agrawal</strong></h4>
                                  <address class="m-t-md">
                                      <strong>Public Relations Officer</strong><br>
                                  </address>
                  
                              </div>
                              <div class="contact-box-footer">
                                  <div class="m-t-xs btn-group">
                                      <a href="tel:+91 83310 36099" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> 8331036099</a>
                                      <a href="mailto: pro@iith.ac.in" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> E-mail </a>
                                      <a href="https://www.linkedin.com/in/mitalee-agrawal-16b39824/" class="btn btn-xs btn-white" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a
                                    <p class="mb-0 mt-2 font-italic"><br>
                                    </div>
                                    </div>
                                        <address class="m-t-md"><strong>Brief Background:<br>
                                        Efficacious Communicator | Agile Administrator | Ace Problem Solver</strong></address><br> 
                                        A Post-Graduate in Engineering & Management with more than a decade of experience in data & relationship management. Agile administrator & communicator with the leading academic institution of India, India Institute of Technology (IIT), Hyderabad, along with its Mentee Institute IIIT Raichur, Karnataka. Mitalee publishes a quarterly publication, “KirIITH”, for IIT Hyderabad, which is well received in the peer group. In the past, she has led Techno-Commercial Operations of a USA-based multinational Packing Company. Hands-on experience in Marketing Strategies, Government Rules & Regulations, and Senior Management workstyle & plays an important role in Technical, Commercial and Administrative decision-making. In has received various district & state-level awards during her schooling and was the recipient of Star Employee & Star Team & Best Employee in her previous organization. She was adorned by AMEYA Awards as a women motivator by PRCI in 2020 & Chanakya Award for Social Media Person of the Year at the 15th Global Communication Conclave by PRCI in 2021.                                
                                    </p>
                                  </div>
                              </div>
                              </div>
                      </div>
                      
                  </div>
              </div>
        </div>
    </div>