---
layout: default
title: Report
---

<div class="col-md-12" style="padding: 0px;">
  <img src="images/Inauguaration of Kiriith by Dr B V Mohan Reddy2.jpg" id="large" alt="" style="width: 100%;">
  <img src="images/pr2.jpeg" id="small" alt="" style="width: 100%;">
</div>

<h1 class="text-center"><b>Reports</b></h1>

    <!-- Page Content -->
    
    <div class="container-fluid" style="flex:1;">
        <div class="full-width side-gap start">
            <div class="row">
                <div class="col-lg-3" id="large">
                    <div class="sidebar">
                        <div class="sidebar-section card shadow">
                            <h5><span><b>QUICK LINKS</b></span></h5>
                            <ul>
                                <li><a href="#annual">Annual Reports</a></li>
                                <li><a href="#nirf">NIRF</a></li>
                                <li><a href="#arria">ARIIA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="container" id="annual">
                        <h3><b>Annual Reports</b></h3>
                        <hr style="border: 1.5px solid coral; width: 50%;" align="left">
                        <p class="lead">
                          <h5>
                          <ul>

                            {% assign annual = site.categories['annual'] %}
                            {% for post in annual %}
                            <li><b>{{ post.title }}</b>&nbsp;   <a href="{{post.link}}">Download</a></li>                            
                            {% endfor %}

                          </ul>
                          </h5> 
                        </p>
                    </div>
                </div>

                <div class="col-lg-12">
                  <div class="container" id="nirf">
                      <h3><br>National Institutional Ranking Framework (NIRF)</h3>
                      <hr style="border: 1.5px solid coral; width: 50%;" align="left">

                      <h4>Overall</h4>
                      <p class="lead">
                        <h5>
                        <ul>

                          {% assign nirf = site.categories['nirf'] %}
                          {% for post in nirf %}
                          <li><b>{{ post.title }}</b>&nbsp;   <a href="{{post.link}}">Download</a></li>                            
                          {% endfor %}

                        </ul>
                        </h5> 
                      </p>
                      <h4>Engineering</h4>
                      <p class="lead">
                        <h5>
                        <ul>

                          {% assign engineering = site.categories['engineering'] %}
                          {% for post in engineering %}
                          <li><b>{{ post.title }}</b>&nbsp;   <a href="{{post.link}}">Download</a></li>                            
                          {% endfor %}

                        </ul>
                        </h5> 
                      </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="container" id="ariia" style="padding-bottom: 30px;">
                      <h3><br>Atal Ranking of Institutions on Innovation Achievements (ARIIA)</h3>
                      <hr style="border: 1.5px solid coral; width: 50%;" align="left">
                      <p class="lead">
                        <h5>
                        <ul>

                          {% assign ariia = site.categories['ariia'] %}
                          {% for post in ariia %}
                          <li><b>{{ post.title }}</b>&nbsp;   <a href="{{post.link}}">Download</a></li>                            
                          {% endfor %}

                        </ul>
                        </h5> 
                      </p>
                  </div>
                </div>

          </div>
  </div>
</div>