---
layout: default
title: Team
---

<h1 class="display-4 text-center" style="padding-top: 90px;">Web Team</h1>
<div class="container-fluid">
<div class="row" style="padding: 0px 15px 20px;">
<div class="col-md-4">
    <h5 class="text-center">Managed by</h5>
    <div class="image-wrapper" style="padding-bottom: 10px;">
        <img src="images/IMG_8431 - Copy.JPG" alt="" class="shadow" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%; width: 200px; height: 200px;">
    </div>
    <h6 class="text-center">Mrs. Mitalee Agrawal</h6>
    <h6 class="text-center">Public Relations Officer</h6>
    <h6 class="text-center">E-mail: <a href="mailto: pro@iith.ac.in" style="text-decoration: none; color: #ffae17;">pro@iith.ac.in</a></h6>
    <h6 class="text-center"><a href="https://www.linkedin.com/in/mitalee-agrawal-16b39824/" style="text-decoration: none; color:rgb(51, 51, 201);" target="_blank">LinkedIn Profile</a></h6>
</div>
<div class="col-md-4">
    <h5 class="text-center">Developed by</h5>
    <div class="image-wrapper" style="padding-bottom: 10px;">
        <img src="images/mansi.jpeg" alt="" class="shadow" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%; width: 200px; height: 200px;">
    </div>
    <h6 class="text-center">Ms. Mansi Nanavati</h6>
    <h6 class="text-center">Electrical Engineering Department</h6>
    <h6 class="text-center">E-mail: <a href="mailto: ee19btech11036@iith.ac.in" style="text-decoration: none; color: #ffae17;">ee19btech11036@iith.ac.in</a></h6>
    <h6 class="text-center"><a href="https://www.linkedin.com/in/mansi-arpit-nanavati-a738231b4/" style="text-decoration: none; color:rgb(51, 51, 201);" target="_blank">LinkedIn Profile</a></h6>
    
</div>

<div class="col-md-4">
    <h5 class="text-center">Developed by</h5>
    <div class="image-wrapper" style="padding-bottom: 10px;">
        <img src="images/team/vibhanshu.jpeg" class="shadow" alt="Vibhanshu Jain" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%; width: 200px; height: 200px;">
    </div>
    <h6 class="text-center">Vibhanshu Jain</h6>
    <h6 class="text-center">Computer Science & Engineering Department<br>IIIT Raichur</h6>
    <h6 class="text-center">E-mail: <a href="mailto:cs19b1027@iiitr.ac.in" style="text-decoration: none; color: #ffae17;">cs19b1027@iiitr.ac.in</a></h6>
    <h6 class="text-center"><a href="https://www.linkedin.com/in/vibhanshu-jain-iiitr/" style="text-decoration: none; color:rgb(51, 51, 201);" target="_blank">LinkedIn Profile</a></h6>
    
</div>

</div>
</div>