  <!-- Footer -->
  <footer>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h2>Address</h2>
          <p class="text-center">
            Office of Dean Public and Corporate Relations,<br>
            7th Floor, Block-A, Indian Institute of Technology,<br> 
            Hyderabad, Kandi, Sangareddy,<br>
            Telangana - 502285, India.
          </p>
        </div>
        <div class="col-md-3">
          <h2>Contact Us</h2>
          <ul>
            <li style="text-align: center;"><a href="tel:+91 83310 36099"><span>Landline:</span> +91 40-2301 6099</a></li>
            <li style="text-align: center;"><a href="tel:+91 83310 36099"><span>Mobile:</span> +91 83310 36099</a></li>
            <li style="text-align: center;"><span>E-Mail:</span> <a href="mailto: dean.pcr@iith.ac.in">dean.pcr@iith.ac.in</a> & <a href="mailto: office.pcr@iith.ac.in">office.pcr@iith.ac.in</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Quick Links</h2>
          <ul>
            <li style="text-align: center;"><a href="/proffice.html#ranking">Ranking Reports ( NIRF | ARIIA ) </a></li>
            <li style="text-align: center;"><a href="/proffice.html#annual">Annual Reports</a></li>
            <li style="text-align: center;"><a href="/proffice.html#press">Press Releases</a></li>
            <li style="text-align: center;"><a href="/proffice.html#newsletter">किरIITH</a></li> 
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Follow Us</h2>
          <p class="social"><a href="https://www.facebook.com/iithyderabad/"  target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/IITHyderabad" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/iithyderabad/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/school/indian-inst-of-technology-hyderabad/" target="_blank"><i class="fa fa-linkedin"></i></a></p>
        </div>
        <div class="col-md-12 text-center" style="color: #ffae17; font-size: 1.2em;">
          <a href="https://iith.ac.in/" target="_blank" style="color: #ffae17;">IITH Website</a>   |   <a href="/team.html" style="color: #ffae17;">Web Team</a>
        </div>
      </div>
    </div>
  </footer>
<!-- ./Footer -->