<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="https://iith.ac.in/">
          <img src="images/horzlogolongsmall.png" height="55px" width="100%">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url =="/" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="index.html">Home
           <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown {% if page.url =="/proffice.html" %} active {% endif %}">
          <a class="nav-link dropdown-toggle text-nowrap" href="proffice.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Public Relations Office
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="proffice.html">Home</a>
            <a class="dropdown-item" href="proffice.html#prvision">Vision</a>
            <a class="dropdown-item" href="proffice.html#pract">Key Result Areas</a>
            <a class="dropdown-item" href="proffice.html#press">Press Releases</a>
            <a class="dropdown-item" href="proffice.html#news">Highlights</a>
            <a class="dropdown-item" href="proffice.html#newsletter">किरIITH</a>
            <a class="dropdown-item" href="proffice.html#annual">Annual Reports</a>
            <a class="dropdown-item" href="proffice.html#ranking">Ranking Reports</a>            <a class="dropdown-item" href="proffice.html#prguide">Guidelines</a>
            <a class="dropdown-item" href="proffice.html#prteam">PR Office Team</a>
          </div>
        </li>
        <li class="nav-item dropdown {% if page.url =="/croffice.html" %} active {% endif %}">
          <a class="nav-link dropdown-toggle text-nowrap" href="croffice.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Corporate Relations Office
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="croffice.html">Home</a>
            <a class="dropdown-item" href="croffice.html#crvision">Vision</a>
            <a class="dropdown-item" href="croffice.html#cract">Key Result Areas</a>
            <a class="dropdown-item" href="croffice.html#crguide">Guidelines</a>
            <a class="dropdown-item" href="croffice.html#crteam">CR Office Team</a>
          </div>
        </li>
        <li class="nav-item {% if page.url =="/guidelines.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="guidelines.html">Guidelines</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
