<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="https://iith.ac.in/">
          <img src="/images/horzlogolongsmall.png" width="300" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url =="/newsletter" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/index.html">Home
           <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item {% if page.url =="/newsletter/about.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/about.html">About किरIITH</a>
        </li>
        <li class="nav-item {% if page.url =="/newsletter/editorial-team.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/editorial-team">Editorial Team</a>
        </li>
        <li class="nav-item {% if page.url =="/newsletter/submission.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/submission">Submission Procedure</a>
        </li>
        <li class="nav-item {% if page.url =="/newsletter/disclaimer.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/disclaimer">Disclaimer</a>
        </li>
        <li class="nav-item {% if page.url =="/newsletter/contact.html" %} active {% endif %}">
          <a class="nav-link text-nowrap" href="/newsletter/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
