---
layout: newsletter
title: किरIITH
---
<section>

  <h1 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h1>
  <h3 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="newsletter">
        <div class="row">
          <div class="col-lg-4">
            <img class="image_card" src="./../images/newsletter/issue11.jpg"
              style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; padding-left:10px;">
          </div>

          <div class="col-lg-8">
            <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
              <div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                <p>
                <h5><b>Issue 11, July 2022</b></h5>
                <h4>Smart Mobility @IITH</h4>
                <p>
                  The invention of the wheel brought about a revolution in the transportation system, and now it’s time
                  for smart mobility to make transportation more sustainable. I hope you will all enjoy going through
                  this informative issue. We hope this issue of किरIITH - The Crowning Glory, Issue-11, July 2022 #Smart
                  Mobility @IITH will give you a stimulating experience about exceptional research work being carried
                  out by the IITH fraternity. This issue of किरIITH is released on Kargil Vijay Diwas - July 26 to
                  remember the sacrifice of those brave soldiers who died in the line of duty to protect our country;
                  underlining the importance we give to Invent & Innovate in Technology for Humanity (IITH) to ensure
                  IITH is "A Dream Destination for Students, Academicians, Researchers & Collaborators".</p>
                <h6>
                  View as<br><br>
                  <a target="_blank" class="btn btn-secondary btn-sm"
                    href="https://online.fliphtml5.com/qumqk/svzs/">Flipbook</a> &nbsp;&nbsp;
                  <a target="_blank" class="btn btn-secondary btn-sm" href="./download/Issue-11.pdf">PDF</a>&nbsp;
                </h6>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Article</h3>

    <div class="row">
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221101</i> &nbsp;
          <a href="./download/11/KID 20221101.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221102</i> &nbsp;
          <a href="./download/11/KID 20221102.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221103</i> &nbsp;
          <a href="./download/11/KID 20221103.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221104</i> &nbsp;
          <a href="./download/11/KID 20221104.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221105</i> &nbsp;
          <a href="./download/11/KID 20221105.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221106</i> &nbsp;
          <a href="./download/11/KID 20221106.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221107</i> &nbsp;
          <a href="./download/11/KID 20221107.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221108</i> &nbsp;
          <a href="./download/11/KID 20221108.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221109</i> &nbsp;
          <a href="./download/11/KID 20221109.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221110</i> &nbsp;
          <a href="./download/11/KID 20221110.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221111</i> &nbsp;
          <a href="./download/11/KID 20221111.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221112</i> &nbsp;
          <a href="./download/11/KID 20221112.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20221113</i> &nbsp;
          <a href="./download/11/KID 20221113.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
    </div>
  </div>
</section>