---
layout: newsletter
title: किरIITH
---
<section>

  <h1 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h1>
  <h3 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="newsletter">
        <div class="row">
          <div class="col-lg-4">
            <img class="image_card" src="./../images/newsletter/issue3.jpeg"
              style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; padding-left:10px;">
          </div>

          <div class="col-lg-8">
            <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
              <div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                <p>
                <h5><b>Issue 3, July 2020</b></h5>
                <h4>Arena of AI@IITH</h4>
                <p>
                  We are back again with the 3rd Issue of किरIITH - The Crowning Glory This issue will take you to the
                  tours of various research, happenings recognitions related to the latest trending research area AI ML
                  @IITH and hence named as “#Arena of AI IITH”. This special edition on AI initiatives at IITH was only
                  possible because of the visionary thought process of our Director, Prof B S Murty Right from the cover
                  page to the Alumni column, we have ensured you get a flavour of AI in this issue This issue contains
                  rich research content for AI lovers.
                </p>
                <h6>
                  View as<br><br>
                  <a target="_blank" class="btn btn-secondary btn-sm"
                    href="https://online.fliphtml5.com/vrhdl/hyaf/">Flipbook</a> &nbsp;&nbsp;
                  <a target="_blank" class="btn btn-secondary btn-sm" href="./download/Issue-3.pdf">PDF</a>&nbsp;
                </h6>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Article</h3>

    <div class="row">
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200301</i> &nbsp;
          <a href="./download/3/KID 20200301.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200302</i> &nbsp;
          <a href="./download/3/KID 20200302.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200303</i> &nbsp;
          <a href="./download/3/KID 20200303.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200304</i> &nbsp;
          <a href="./download/3/KID 20200304.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200305</i> &nbsp;
          <a href="./download/3/KID 20200305.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200306</i> &nbsp;
          <a href="./download/3/KID 20200306.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200307</i> &nbsp;
          <a href="./download/3/KID 20200307.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200308</i> &nbsp;
          <a href="./download/3/KID 20200308.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200309</i> &nbsp;
          <a href="./download/3/KID 20200309.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200310</i> &nbsp;
          <a href="./download/3/KID 20200310.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200311</i> &nbsp;
          <a href="./download/3/KID 20200311.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200312</i> &nbsp;
          <a href="./download/3/KID 20200312.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200313</i> &nbsp;
          <a href="./download/3/KID 20200313.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200314</i> &nbsp;
          <a href="./download/3/KID 20200314.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200315</i> &nbsp;
          <a href="./download/3/KID 20200315.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200316</i> &nbsp;
          <a href="./download/3/KID 20200316.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200317</i> &nbsp;
          <a href="./download/3/KID 20200317.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200318</i> &nbsp;
          <a href="./download/3/KID 20200318.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200319</i> &nbsp;
          <a href="./download/3/KID 20200319.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200320</i> &nbsp;
          <a href="./download/3/KID 20200320.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200321</i> &nbsp;
          <a href="./download/3/KID 20200321.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200322</i> &nbsp;
          <a href="./download/3/KID 20200322.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200323</i> &nbsp;
          <a href="./download/3/KID 20200323.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200324</i> &nbsp;
          <a href="./download/3/KID 20200324.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200325</i> &nbsp;
          <a href="./download/3/KID 20200325.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200326</i> &nbsp;
          <a href="./download/3/KID 20200326.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20200327</i> &nbsp;
          <a href="./download/3/KID 20200327.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
    </div>

  </div>
</section>