---
layout: newsletter
title: किरIITH
---
<section>

  <h1 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h1>
  <h3 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="newsletter">
        <div class="row">
          <div class="col-lg-4">
            <img class="image_card" src="./../images/newsletter/issue5.webp"
              style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; padding-left:10px;">
          </div>

          <div class="col-lg-8">
            <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
              <div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                <p>
                <h5><b>Issue 5, Jan 2021 </b></h5>
                <h4>IITH Japan Connnect</h4>
                <p>
                  The combined developmental Intellect of Japan and IITH has enabled students with opportunities to show
                  their innovation, develop scientific temperament and contribute to the fast-paced world of Science,
                  Technology, and Culture. The collaboration has been very beneficial to both IITH and the associated
                  Japanese Institutions. This edition is a testament to the vibrant and fruitful association of IITH and
                  Japan. It is a proud celebration; and hence we fittingly named this edition as किरIITH - The Crowning
                  Glory, Issue-5, #IITHJapanConnect.</p>
                <h6>
                  View as<br><br>
                  <a target="_blank" class="btn btn-secondary btn-sm"
                    href="https://online.fliphtml5.com/vrhdl/rbnl/">Flipbook</a> &nbsp;&nbsp;
                  <a target="_blank" class="btn btn-secondary btn-sm" href="./download/Issue-5.pdf">PDF</a>&nbsp;
                </h6>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Article</h3>

    <div class="row">
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210501</i> &nbsp;
          <a href="./download/5/KID 20210501.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210502</i> &nbsp;
          <a href="./download/5/KID 20210502.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210503</i> &nbsp;
          <a href="./download/5/KID 20210503.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210504</i> &nbsp;
          <a href="./download/5/KID 20210504.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210505</i> &nbsp;
          <a href="./download/5/KID 20210505.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210506</i> &nbsp;
          <a href="./download/5/KID 20210506.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210507</i> &nbsp;
          <a href="./download/5/KID 20210507.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210508</i> &nbsp;
          <a href="./download/5/KID 20210508.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210509</i> &nbsp;
          <a href="./download/5/KID 20210509.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210510</i> &nbsp;
          <a href="./download/5/KID 20210510.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210511</i> &nbsp;
          <a href="./download/5/KID 20210511.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210512</i> &nbsp;
          <a href="./download/5/KID 20210512.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210513</i> &nbsp;
          <a href="./download/5/KID 20210513.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210514</i> &nbsp;
          <a href="./download/5/KID 20210514.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210515</i> &nbsp;
          <a href="./download/5/KID 20210515.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210516</i> &nbsp;
          <a href="./download/5/KID 20210516.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210517</i> &nbsp;
          <a href="./download/5/KID 20210517.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210518</i> &nbsp;
          <a href="./download/5/KID 20210518.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210519</i> &nbsp;
          <a href="./download/5/KID 20210519.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210520</i> &nbsp;
          <a href="./download/5/KID 20210520.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210521</i> &nbsp;
          <a href="./download/5/KID 20210521.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210522</i> &nbsp;
          <a href="./download/5/KID 20210522.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210523</i> &nbsp;
          <a href="./download/5/KID 20210523.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210524</i> &nbsp;
          <a href="./download/5/KID 20210524.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210525</i> &nbsp;
          <a href="./download/5/KID 20210525.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210526</i> &nbsp;
          <a href="./download/5/KID 20210526.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210527</i> &nbsp;
          <a href="./download/5/KID 20210527.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210528</i> &nbsp;
          <a href="./download/5/KID 20210528.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210529</i> &nbsp;
          <a href="./download/5/KID 20210529.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210530</i> &nbsp;
          <a href="./download/5/KID 20210530.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210531</i> &nbsp;
          <a href="./download/5/KID 20210531.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210532</i> &nbsp;
          <a href="./download/5/KID 20210532.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210533</i> &nbsp;
          <a href="./download/5/KID 20210533.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210534</i> &nbsp;
          <a href="./download/5/KID 20210534.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210535</i> &nbsp;
          <a href="./download/5/KID 20210535.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210536</i> &nbsp;
          <a href="./download/5/KID 20210536.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210537</i> &nbsp;
          <a href="./download/5/KID 20210537.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
    </div>

  </div>
</section>