---
layout: newsletter
title: किरIITH
---
<section>

  <h1 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h1>
  <h3 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="newsletter">
        <div class="row">
          <div class="col-lg-4">
            <img class="image_card" src="./../images/newsletter/issue6.JPG"
              style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; padding-left:10px;">
          </div>

          <div class="col-lg-8">
            <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
              <div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                <p>
                <h5><b>Issue 6, April 2021</b></h5>
                <h4>5G & Next-Gen Communication Technologies@IITH</h4>
                <p>
                  IIT Hyderabad is leading 5G and next-gen communication development globally, establishing a unique
                  brand known for its ground-breaking work in communication technologies. IIT Hyderabad is a leader in
                  research and Intellectual Property (IP) development of 5G and next-gen technologies. The CSP
                  (Communication and Signal Processing) wing of the department of Electrical Engineering has five
                  research laboratories, which are always on a quest to solve fundamental and momentous problems for the
                  betterment of society. This issue is an ode to the ever bright & innovative researchers of IITH who
                  are working to better science and society; hence we named this issue किरIITH - The Crowning Glory,
                  Issue-6 #5G & Next-gen Communication Technologies and released it on the World Telecommunication &
                  Information Society Day. </p>
                <h6>
                  View as<br><br>
                  <a target="_blank" class="btn btn-secondary btn-sm"
                    href="https://online.fliphtml5.com/vrhdl/cgpg/">Flipbook</a> &nbsp;&nbsp;
                  <a target="_blank" class="btn btn-secondary btn-sm" href="./download/Issue-6.pdf">PDF</a>&nbsp;
                </h6>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Article</h3>

    <div class="row">
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210601</i> &nbsp;
          <a href="./download/6/KID 20210601.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210602</i> &nbsp;
          <a href="./download/6/KID 20210602.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210603</i> &nbsp;
          <a href="./download/6/KID 20210603.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210604</i> &nbsp;
          <a href="./download/6/KID 20210604.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210605</i> &nbsp;
          <a href="./download/6/KID 20210605.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210606</i> &nbsp;
          <a href="./download/6/KID 20210606.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210607</i> &nbsp;
          <a href="./download/6/KID 20210607.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210608</i> &nbsp;
          <a href="./download/6/KID 20210608.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
    </div>
  </div>
</section>