---
layout: newsletter
title: किरIITH
---
<section>

  <h1 class="text-center"><b><br>किरIITH</b> - The Crowning Glory<br></h1>
  <h3 class="text-center"><i>A quarterly e-Newsletter of IITH</i></h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="newsletter">
        <div class="row">
          <div class="col-lg-4">
            <img class="image_card" src="./../images/newsletter/issue8.JPG"
              style="width:100%; padding-bottom: 10px; padding-top: 10px;padding-right:10px; padding-left:10px;">
          </div>

          <div class="col-lg-8">
            <div class="card shadow press_release_card_1" style="margin-top:10px; margin-bottom: 10px;">
              <div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
                <p>
                <h5><b>Issue 8, October 2021 </b></h5>
                <h4>Epitome of Energy @IITH</h4>
                <p>
                  Alike every time, this issue of किरIITH is also being dedicated to a thrust area of significant
                  importance at IIT Hyderabad. We are glad to release six theme-based issues of किरIITH from COVID-19,
                  AI, Healthcare, IITHinJapan, 5G & Next-Gen Tech to NanoTech. Following this precedence, किरIITH is
                  back with yet another critical thrust area "Energy". </p>
                <h6>
                  View as<br><br>
                  <a target="_blank" class="btn btn-secondary btn-sm"
                    href="https://online.fliphtml5.com/qumqk/mvup/">Flipbook</a> &nbsp;&nbsp;
                  <a target="_blank" class="btn btn-secondary btn-sm" href="./download/Issue-8.pdf">PDF</a>&nbsp;
                </h6>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h3>Article</h3>

    <div class="row">
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210801</i> &nbsp;
          <a href="./download/8/KID 20210801.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210802</i> &nbsp;
          <a href="./download/8/KID 20210802.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210803</i> &nbsp;
          <a href="./download/8/KID 20210803.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210804</i> &nbsp;
          <a href="./download/8/KID 20210804.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210805</i> &nbsp;
          <a href="./download/8/KID 20210805.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210806</i> &nbsp;
          <a href="./download/8/KID 20210806.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210807</i> &nbsp;
          <a href="./download/8/KID 20210807.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210808</i> &nbsp;
          <a href="./download/8/KID 20210808.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210809</i> &nbsp;
          <a href="./download/8/KID 20210809.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210810</i> &nbsp;
          <a href="./download/8/KID 20210810.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210811</i> &nbsp;
          <a href="./download/8/KID 20210811.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210812</i> &nbsp;
          <a href="./download/8/KID 20210812.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210813</i> &nbsp;
          <a href="./download/8/KID 20210813.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210814</i> &nbsp;
          <a href="./download/8/KID 20210814.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210815</i> &nbsp;
          <a href="./download/8/KID 20210815.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210816</i> &nbsp;
          <a href="./download/8/KID 20210816.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210817</i> &nbsp;
          <a href="./download/8/KID 20210817.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210818</i> &nbsp;
          <a href="./download/8/KID 20210818.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210819</i> &nbsp;
          <a href="./download/8/KID 20210819.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210820</i> &nbsp;
          <a href="./download/8/KID 20210820.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
      <div class="articleCard col-lg-4">
        <hr style="width: 80%;margin-left: 0%;">
        <p>
          <i class="btn btn-light disabled">KID 20210821</i> &nbsp;
          <a href="./download/8/KID 20210821.pdf" class="btn btn-secondary btn-sm">Pdf</a>
        </p>
      </div>
    </div>
  </div>
</section>