---
layout: newsletter
title: Disclaimer | किरIITH
---
<section>
  <div class="container">
    <br><br>
    <h3><br><br>Disclaimer</h3>
    <hr style="width: 80%;margin-left: 0%;">
    <p>
      The articles published in this magazine are based on the personal view /opinions of the authors. The magazine does
      not ensure the genuineness of the facts mentioned in the articles Authors are solely responsible for plagiarism
      present in the article. However, you may consider notifying the publisher at <a
        href="mailto:pro@iith.ac.in">pro@iith.ac.in</a>
    </p>
  </div>
</section>