---
layout: newsletter
title: Submission | किरIITH
---
<section>
  <div class="container">
    <br><br>
    <h3><br><br>Submission</h3>
    <hr style="width: 80%;margin-left: 0%;">
    <p>
      KirIITH is a quarterly e-newsletter of the Indian Institute of Technology Hyderabad (IITH, India) published mainly
      in English with some special articles in the official language Hindi. We are bringing out our institute magazine
      (KIRIITH) every quarter. Each Issue of KirIITH is dedicated to a particular thrust area IITH is associated with.

      It is an institute publication hence we request the IITH fraternity to share a one-page overview of the research
      in the said field (500 words approx.) with possible illustrations and photographs and a suitable caption.

      The write-up can be sent to our Public Relations Officer, Ms Mitalee Agrawal, at pro@iith.ac.in by the due date of
      the respective issue as specified.
    </p>
  </div>
</section>