<!doctype html>
<html lang="en">

  {% include header.html %}

<body>
   
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}

<script src="./assets/js/jquery-3.5.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
</body>
</html>